#Vlan_Global_Table {
	table-layout: fixed;
	margin: auto;
	border-collapse: collapse;
}
#Vlan_Global_Table caption {
	font-weight: bold;
	font-size: 1em;
}
#Vlan_Global_Table th {
	/* background-color: #acc8cc; */
	border: 1px solid #729ea5;
	padding: 6px; /* 10px to 6px */
}
#Vlan_Global_Table td {
	/* background-color: #d4e3e5; */
	border: 1px solid #729ea5;
	padding: 6px; /* 10px to 6px */
	text-align: center;
}