<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NetworkManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <servlet-mapping>
    <servlet-name>com.via.controller.Chart</servlet-name>
    <url-pattern>/Chart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.Device</servlet-name>
    <url-pattern>/Device</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.EtherlikeStatistics</servlet-name>
    <url-pattern>/EtherlikeStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.StaticVlanList</servlet-name>
    <url-pattern>/StaticVlanList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.CurrentVlanList</servlet-name>
    <url-pattern>/CurrentVlanList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.HistoryChart</servlet-name>
    <url-pattern>/HistoryChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.HistoryApList</servlet-name>
    <url-pattern>/HistoryApList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.LinkView</servlet-name>
    <url-pattern>/LinkView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.Topology</servlet-name>
    <url-pattern>/Topology</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.PoeStatus</servlet-name>
    <url-pattern>/PoeStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.PortStatistics</servlet-name>
    <url-pattern>/PortStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.PortStatus</servlet-name>
    <url-pattern>/PortStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.RmonStatistics</servlet-name>
    <url-pattern>/RmonStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.VlanStatus</servlet-name>
    <url-pattern>/VlanStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.LogViewer</servlet-name>
    <url-pattern>/LogViewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.ACStatisticsData</servlet-name>
    <url-pattern>/ACStatisticsData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.APList</servlet-name>
    <url-pattern>/APList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.APSTALog</servlet-name>
    <url-pattern>/APSTALog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.Settings</servlet-name>
    <url-pattern>/Settings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.APSTAList</servlet-name>
    <url-pattern>/APSTAList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.APSTASpeed</servlet-name>
    <url-pattern>/APSTASpeed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.ACFriendlyRogueAP</servlet-name>
    <url-pattern>/ACFriendlyRogueAP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.License</servlet-name>
    <url-pattern>/License</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.Tools</servlet-name>
    <url-pattern>/Tools</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.SystemInfo</servlet-name>
    <url-pattern>/SystemInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.QueueViewer</servlet-name>
    <url-pattern>/QueueViewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.DeviceReport</servlet-name>
    <url-pattern>/DeviceReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.ConvertToHtml</servlet-name>
    <url-pattern>/ConvertToHtml</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.via.controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RealIPFilter</filter-name>
    <filter-class>com.via.web.RealIPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RealIPFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>com.via.controller.Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
</web-app>
